body {
  background-image: url('https://images.unsplash.com/photo-1593079831268-3381b0db4a77?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80');
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  color: white;
  text-align: center;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.585);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 15%;
}

form {
  color: white;
  font-size: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.585);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 15%;
  width: 240px;
  position: absolute;
  left: 735px;
  top: 200px;
}

#add-note-form {
  color: white;
  background-color: rgba(0, 0, 0, 0.585);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 15%;
  position: absolute;
  text-align: center;
  width: 200px;
  top: 250px;
  left: 1030px;
  height: 290px;
}

#intensityLi {
  height: 30px;
  width: 150px;
  border-radius: 15%;
}

#exerciseNumLi {
height: 30px;
width: 150px;
border-radius: 15%;
border: 3px solid rgb(0, 0, 0);
}

#show-workouts {
  color: white;
  background-color: rgba(0, 0, 0, 0.585);
  border: 3px solid rgb(0, 0, 0);
  font-size: 15px;
  border-radius: 15%;
  text-align: center;
  width: 200px;
  position: absolute;
  left: 470px;
  top: 250px;
}

#exChooseBtn {
  height: 30px;
  width: 150px;
  border-radius: 15%;
}

#add-ex-to-li {
  background-color: rgba(0, 0, 0, 0.585);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 15%;
  text-align: center;
  width: 200px;
  position: absolute;
  left: 750px;
  top: 290px;
}

#header-title {
  color: white;
  font-size: 50px;
  text-align: center;
  position: absolute;
  top: 43px;
  left: 675px;
  padding-top: 20px;
  border-radius: 15%;
  width: 350px;
  background-color: rgba(0, 0, 0, 0.585);
  border: 5px solid rgb(0, 0, 0);

}

#comments {
  color: white;
  background-color: rgba(0, 0, 0, 0.585);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 15%;
  position: absolute;
  left: 515px;
  top: 750px;
}
  

#list {
  color: white;
  background-color: rgba(0, 0, 0, 0.585);
  border-radius: 15%;
  font-size: 25px;
  text-align: center;
  position: absolute;
  top: 200px;
  left: 510px;
  width: 700px;
  border: 5px solid rgb(0, 0, 0);
}

#badge-container {
  color: white;
  background-color: rgba(0, 0, 0, 0.585);
  border: 5px solid rgb(0, 0, 0);
  text-align: center;
  width: 250px;
  border-radius: 15%;
  position: absolute;
  top: 230px;
  left: 725px;
}

#add-exercise-form1 {
  border-radius: 30%;
  height: 30px;
  border: 3px solid rgb(0, 0, 0);
  position: absolute;
  top: -20px;
  left: 20px;
  cursor: pointer;
}

#cmntDelBtn {
  position: absolute;
  left: -520px;
  top: -570px;
}

#add-exercise-form2 {
  background-color: green;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: 2px solid rgb(0, 0, 0);
  position: absolute;
  top: -20px;
  left: 170px;
  cursor: pointer;
}

#workoutDelBtn {
  display: block;
  background-color: rgb(255, 0, 0);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  left: 440px;
  top: 235px;
}

#details-btn {
  background-color: green;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.login {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login img {
  height: 30px;
}

.note-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-user img {
  border-radius: 50%;
  height: 40px;
}