<%- include('../partials/header') %>

<section id="badge-container">
  <% exercises.forEach(function(e) { %>
    <article class="badge"><%= e.name %></article>
  <% }) %>
</section>

<form id="add-exercise-form" action="/exercises" method="POST">
  <input type="text" name="name" id="add-exercise-form1">
  <input type="submit" value="" id="add-exercise-form2">
</form>

<%- include('../partials/footer') %>